SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://change-me:change-me/change-me
SPRING_DATASOURCE_USERNAME=change-me
SPRING_DATASOURCE_PASSWORD=change-me

POSTGRES_DB=user_management
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

KEYCLOAK_ISSUER_URI=change-me
KEYCLOAK_OPENID_CONFIGURATION_URI=change-me
KEYCLOAK_CLIENT_ID=change-me
KEYCLOAK_CLIENT_SECRET=change-me

KEYCLOAK_LOCAL_PORT=8081
KEYCLOAK_ADMIN=change-me
KEYCLOAK_ADMIN_PASSWORD=change-me
